<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="html, css, javascript">
    <title>Booking  App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="booking.css">

</head>
<body>
    <header>
        <h1 class ="text-center">Booking Appointment App</h1>
      </header>
    
    <form  action="/" method="POST" class ="mx-auto" id = "form-format">
        <h2>Add User</h2>
        <div class="msg"></div> 
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class ="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="phone_number">Contact Number</label>
            <input type="text" class ="form-control" id="number" name="number">
        </div>
        <div class="form-group">
            <label for="mailId">EmailId</label>
            <input type="email" class ="form-control" id="email" name="email">
        </div>
        <div class="text-center">
        <button  onclick="userDetails(event)" class ="btn btn-primary">Book A Call</button>
    </div>
    </form>
    <ul id="users"></ul>

    <!--<ul class="listVal">
     <li class="item">Item 1</li>
     <li class="item">Item 2</li>
     <li class="item">Item 3</li>
   </ul>--> 
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   <script>
function userDetails(event){
  event.preventDefault()
    const nameInput = event.target.form.name.value;
    console.log("****",nameInput);
    const phone_number = event.target.form.number.value;
    const emailInput = event.target.form.email.value;
    console.log("****",phone_number);
    console.log("****",emailInput);
    const myobj = {
      nameInput,
      phone_number,
      emailInput
    };
    axios.post("http://localhost:4000/", myobj)
    .then((response)=>{
        console.log("$$$$$$$$$$$$$$$$$$",response.data.newEntryInserted);
        showNewUserOnScreen(response.data.newEntryInserted)
    }).catch((err)=>{

       document.body.innerHTML = document.body.innerHTML + "<h3> Something Went Wrong </h3>";
       console.log(err);
    })
  }

  window.addEventListener("DOMContentLoaded", ()=>{
    axios.get("http://localhost:4000/data")
    .then((response)=>{
      for(var i=0; i<response.data.newdataentry.length;i++){
        showNewUserOnScreen(response.data.newdataentry[i]);
      }
    }).catch((err)=>{
      console.log(err);
    })
  })
  function showNewUserOnScreen(user)
  {
    users ={
      id1: '',
      name: '',
      email: '',
      phonenumber: ''
    }
    document.getElementById('name').value= "";
      document.getElementById('number').value= "";
      document.getElementById('email').value="";

      if(localStorage.getItem(user.email) != null){
        removeUserFromScreen(user.emailInput);
      }
      const parentNode = document.getElementById('users');
      const childHTML = `<li id=${user.id}> ${user.name} - ${user.email} - ${user.phone}>
                             <button onclick="deleteUser('${user.id}')">Delete user</button>
                             <button onclick="editUserDetails('${user.id}','${user.name}','${user.phone}','${user.email}')">Edit user</button>
                             </li>`
  parentNode.innerHTML = parentNode.innerHTML + childHTML; 
  }

  function editUserDetails(userId, name, phonenumber, email){
     document.getElementById('name').value = name;
     document.getElementById('phnumber').value = phonenumber;
     document.getElementById('email').value = email;

     deleteUser(userId);
  }

 function deleteUser(userId){
console.log("####"+userId);
  axios.delete(`http://localhost:4000/data/${userId}`)
  removeUserFromScreen(userId);
   
  
 }

 function removeUserFromScreen(userId){
  console.log("helloooooooo",userId);
  const parentNode = document.getElementById('users');
  const nodeTobeDeleted = document.getElementById(userId);

  if(nodeTobeDeleted){
    parentNode.removeChild(nodeTobeDeleted)
  }
 }
 
  </script>

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->
  
 
    
</body>
</html>