<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel ="stylesheet" href = "css/main.css">
  
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" >Home</a></li>
                <li class="main-header__item"><a>Product</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <form action="/success" method="post" >
            <div class="form-control">
                <label for="title">name</label>
                <input type="text" name="title" id="title">
                <label for="mailid">Email</label>
                <input type="text" name="mailId" id="mailId">
            </div>

            <button type="submit">Apply</button>
        </form>
    </main>
    
</body>
</html>